<div class="row title">
  <div class="col-lg-12 text-center">
    <h2>ДОГОВІР ПУБЛІЧНОЇ ОФЕРТИ</h2>
    <hr class="star-primary">
  </div>
</div>
<p class="text-center"><b>з продажу бібліотек програмних кодів та послуг програмування через інтернет-магазин   <a href="http://www.lifesaversoft.org/" target="_blank">http://www.lifesaversoft.org/</a></b></p>
<p>Фізична особа підприємець <b>Мисан Михайло Олександрович</b><b>,</b> громадянин України, зареєстрований як приватний підприємець відповідно до виписки з єдиного державного реєстру № 2 017 000 0000 013156, виданого (дата) 07.04.2015,  ідентифікаційний номер 3155719575, зареєстрований за адресою: 19634,Черкаська обл.Черкаький район с. Хацьки, вул. Піонерська буд. 53 (надалі - Виконавець), пропонує укласти цей Договір публічної оферти з продажу бібліотек програмних кодів та послуг програмування через інтернет-магазин<b><a href="http://www.lifesaversoft.org/" rel="nofollow" target="_blank">   http://www.lifesaversoft.org/</a></b></p>
<p> (надалі – <b>Договір</b>).</p>
<p>Договір публічної оферти є публічним та, згідно ст.ст. 633, 641 Цивільного кодексу України, його умови однакові для всіх споживачів, беззастережне прийняття умов якого (оплата будь-яким способом відповідно до ч.2 ст. 642 Цивільного кодексу України) вважається акцептом даного Договору між Замовником і Виконавцем та засвідчує факт його укладання.</p>
<p> </p>
<p><b>1. Визначення термінів та загальні положення</b></p>
<p><b>Послуги</b> – виготовлення та постачання комп&#39;ютерного   програмування (програмного продукту) виходячи із Замовлення наданого Виконавцю Замовником </p>
<p><b>Програмний продукт - </b>об’єктивна форма представлення сукупності даних і команд, призначених для функціонування комп’ютерних пристроїв з метою отримання визначеного Замовником результату.</p>
<p><b>Бланк замовлення</b> – документ, який одержує Замовник за результатами успішного оформлення та оплати на Веб-сайті та містить повну інформацію про товар, послугу (прізвище та ім’я платника та отримувача, їх контактні дані, спосіб доставки та адресу доставки та <b>унікальний номер</b>.</p>
<p><b>Документ на послуги</b> – розрахунковий документ, який одержує Замовник за результатами успішного оформлення та оплати резервування або інших послуг.</p>
<p><b>Документ на повернення</b> – розрахунковий документ, який одержує Замовник за результатами успішного повернення ЕПД через Веб-сайт.Збір </p>
<p><b>Веб-сайт</b> - програмне забезпечення ФОП Мисан М.О., що розміщено в мережі Інтернет за адресою <b><a href="http://www.lifesaversoft.org/" rel="nofollow" target="_blank">http://www.lifesaversoft.org/</a></b></p>
<p><b>Замовник</b> – фізична особа, що погодилася з умовами даного Договору з метою одержання послуг з оформлення резервування або придбання/повернення ППД/ЕПД відповідно до умов даного Договору.</p>
<p><b>Сторони</b> – сукупне найменування Замовника та Виконавця.</p>
<p> </p>
<p><b>2. Предмет Договору</b></p>
<p>2.1. За даним Договором Замовник доручає, а Виконавець бере на себе зобов’язання надавати послуги з програмування та продажу доступу до онлайн бібліотек з програмними кодами.</p>
<p>2.2.  Послуга вважається такою, що надана Виконавцем та отримана Замовником в повному обсязі з моменту відправки засобами через інтернет-магазин <b><a href="http://www.lifesaversoft.org/" rel="nofollow" target="_blank">http://www.lifesaversoft.org/</a></b> на електронну адресу Замовника унікального електронного посилання на доступ до Послуги чи Програмного продукту через інтернет звязок.</p>
<p>2.3. Погоджуючись з умовами Договору, Замовник підтверджує, що уважно ознайомився з усіма пунктами даного Договору та інформацією, оприлюдненою на Веб-сайті, а саме:</p>
<p>- порядком надання послуг через Веб-сайт <b><a href="http://www.lifesaversoft.org/" rel="nofollow" target="_blank">http://www.lifesaversoft.org/</a></b>.</p>
<p>2.4. Погоджуючись з умовами Договору, Замовник підтверджує свою правоздатність та дієздатність, включаючи досягнення 18-річного віку, законне користування банківською платіжною карткою, а також усвідомлює відповідальність за зобов&#39;язання, що покладаються на нього у результаті укладання цього Договору.</p>
<p> </p>
<p><b>3. Вартість послуг і порядок розрахунків</b></p>
<p>3.1. Вартість послуг з доступу до програмного продукту вказана на вітрині інтернет-магазину <b><a href="http://www.lifesaversoft.org/." rel="nofollow" target="_blank">http://www.lifesaversoft.org/.</a></b></p>
<p>3.2. Замовник сплачує Вартість послуг з доступу до програмного продукту  шляхом їх 100% оплати за допомогою засобів платежу, доступ до яких забезпечено на Веб-сайті, та у відповідності до правил платіжних систем.</p>
<p>3.3. Повернення грошових коштів за невикористані послуги, що були оформлені за допомогою Веб-сайту, відбувається згідно з правилами платіжних систем.</p>
<p> </p>
<p><b>4. Права та обов&#39;язки Сторін</b></p>
<p> </p>
<p>4.1. Виконавець зобов&#39;язується:</p>
<p>- надавати Послуги, передбачені умовами даного Договору;</p>
<p>- забезпечити можливість замовлення та оплати Послуг за допомогою передбачених на Веб-сайті засобів платежу;</p>
<p>- надавати консультації з питань користування сайтом <b><a href="http://www.lifesaversoft.org/." rel="nofollow" target="_blank">http://www.lifesaversoft.org/.</a></b><wbr>та оформлених Послуг;</p>
<p>4.2. Виконавець має право:</p>
<p>- відмовити у наданні Послуг у зв&#39;язку з неналежним виконанням Замовником своїх зобов&#39;язань відповідно до даного Договору.</p>
<p>4.3. Замовник зобов&#39;язується:</p>
<p>- дотримуватись умов даного Договору;</p>
<p>4.4. Замовник має право:</p>
<p>- вимагати від Виконавця надання Послуг у відповідності до умов даного Договору;</p>

<p><b>5. Відповідальність Сторін та порядок вирішення спорів</b></p>
<p>5.1. Відповідальність за втрату, передачу чи розголошення інформації з бланку замовлення несе Замовник.</p>
<p>5.2. Виконавець не несе відповідальність за неотримання послуг Замовником при наступних умовах:</p>
<p>- недостовірність вказаних Замовником даних при оформленні послуг на Веб-сайті (Прізвище та ім’я отримувача, спосіб та адреса доставки.);</p>
<p>5.3. Всі спірні питання, що пов&#39;язані з отриманням Послуг Замовником, вирішуються сторонами з використанням особистих даних Замовника, що були вказані ним при оформленні та оплаті послуг на Веб-сайті. У разі, якщо особисті дані вказані таким чином, що не дозволяють встановити одержувача Послуг (Замовника), Виконавець має право відмовити Замовнику у розслідуванні спірних питань.</p>
<p>5.4. При реєстрації на Веб-сайті Замовник несе відповідальність за збереження конфіденційності власних логіну та паролю. Всі дії з використанням логіну і паролю Замовника вважаються здійсненими Замовником особисто.</p>
<p>5.6. Всі спірні питання, які можуть виникнути щодо даного Договору або у зв&#39;язку з його виконанням сторони вирішують шляхом проведення переговорів та за наявності письмової заяви Замовника, що передана засобами поштового зв&#39;язку. Досудовий порядок врегулювання спору є обов&#39;язковим.</p>
<p>5.7. У випадку, якщо Сторони не зможуть досягти згоди по спірним питанням шляхом переговорів, ці питання підлягають вирішенню згідно з чинним законодавством України.</p>
<p>5.8. З усіх питань, не врегульованих в тексті даного Договору, сторони керуються чинним законодавством України.</p>
<p> </p>
<p><b>6. Контакти Виконавця та цілодобової служби підтримки</b></p>
<p>Адреса: 9634,Черкаська обл.Черкаький район с. Хацьки, вул. Піонерська буд. 53</p>
<p>Телефон: </p>
<p>Електронна адреса: </p>
<p>Skype: </p>
