<style type="text/css">
  h1 {
  color: #000000;
  font-size: 24pt;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  padding: 0
  }

  h2 {
  color: #000000;
  font-size: 18pt;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  padding: 0
  }

  h3 {
  color: #000000;
  font-size: 14pt;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  padding: 0
  }

  h4 {
  color: #000000;
  font-size: 12pt;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  padding: 0
  }

  h5 {
  color: #000000;
  font-size: 11pt;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  padding: 0
  }

  h6 {
  color: #000000;
  font-size: 10pt;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  padding: 0
  }

  ol {
  margin: 0;
  padding: 0;
  }

  p {
  margin: 0;
  }

  .cm1 {
  margin-left: 15pt;
  }
  .cm2 {
  text-align: left;
  }

  .cm3 {
  text-align: center;
  }

  .cm4 {
  margin-left: 55pt;
  }

  .cm5 {
  background-color: #E6E6E6;
  color: #000000;
  font-family: Times New Roman;
  font-size: 11pt;
  font-weight: bold;
  }

  .c46 {
  vertical-align: top;
  width: 468.0pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c29 {
  vertical-align: top;
  width: 66.85714285714286pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c6 {
  vertical-align: bottom;
  width: 255.0pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c22 {
  vertical-align: bottom;
  width: 66.85714285714286pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c30 {
  vertical-align: top;
  width: 155pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c27 {
  vertical-align: middle;
  width: 156.0pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c23 {
  vertical-align: top;
  width: 156.0pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c11 {
  vertical-align: top;
  width: 93.6pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c36 {
  vertical-align: top;
  width: 234.0pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c32 {
  vertical-align: top;
  width: 155pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c4 {
  vertical-align: middle;
  width: 66.85714285714286pt;
  border-style: solid;
  border-color: #000000;
  border-width: 1.0pt;
  padding: 5.0pt 5.0pt 5.0pt 5.0pt
  }

  .c14 {
  color: #000099;
  font-size: 11pt;
  background-color: #ffffff;
  font-family: Times New Roman;
  text-decoration: underline
  }

  .c33 {
  color: #ff0000;
  font-size: 11pt;
  font-style: italic;
  font-family: Times New Roman;
  font-weight: bold
  }

  .c13 {
  line-height: 1.15;
  text-indent: 1.0pt;
  text-align: center;
  direction: ltr;
  margin-left: 1.0pt
  }

  .c5 {
  line-height: 1.15;
  text-indent: 1.0pt;
  text-align: justify;
  direction: ltr;
  margin-left: 1.0pt
  }

  .c26 {
  color: #0000ff;
  font-size: 11pt;
  font-style: italic;
  font-family: Times New Roman;
  text-decoration: underline
  }

  .c12 {
  line-height: 1.15;
  text-indent: 21.0pt;
  direction: ltr;
  margin-left: 21.0pt
  }

  .c7 {
  line-height: 1.15;
  height: 11pt;
  text-align: justify;
  direction: ltr
  }

  .c19 {
  color: #000099;
  font-size: 11pt;
  font-family: Times New Roman;
  text-decoration: underline
  }

  .c35 {
  color: #ff0000;
  font-size: 11pt;
  font-family: Times New Roman;
  font-weight: bold
  }

  .c8 {
  padding-left: 0pt;
  line-height: 1.15;
  direction: ltr;
  margin-left: 72.0pt
  }

  .c0 {
  color: #000000;
  font-size: 11pt;
  font-family: Times New Roman;
  font-weight: bold
  }

  .c41 {
  color: #55b024;
  font-size: 11pt;
  font-family: Times New Roman;
  font-weight: bold
  }

  .c3 {
  padding-left: 0pt;
  line-height: 1.15;
  direction: ltr;
  margin-left: 36.0pt
  }

  .c56 {
  color: #999999;
  font-size: 11pt;
  font-family: Times New Roman
  }

  .c10 {
  line-height: 1.15;
  text-align: justify;
  direction: ltr
  }

  .c55 {
  color: #009900;
  font-size: 11pt;
  font-family: Times New Roman
  }

  .c25 {
  list-style-type: disc;
  margin: 0;
  padding: 0
  }

  .c16 {
  line-height: 1.15;
  text-align: center;
  direction: ltr
  }

  .c38 {
  color: #333399;
  font-size: 11pt;
  font-family: Times New Roman
  }

  .c47 {
  color: #0000ff;
  font-size: 11pt;
  font-family: Times New Roman
  }

  .c40 {
  list-style-type: decimal;
  margin: 0;
  padding: 0
  }

  .c1 {
  color: #000000;
  font-size: 11pt;
  font-family: Times New Roman
  }

  .c48 {
  color: #008000;
  font-size: 11pt;
  font-family: Times New Roman
  }

  .c59 {
  padding-top: 11.0pt;
  margin: 0;
  padding-bottom: 2.0pt
  }

  .c2 {
  color: #343434;
  font-size: 11pt;
  font-family: Times New Roman
  }

  .c51 {
  width: 468.0pt;
  background-color: #ffffff;
  padding: 72.0pt 72.0pt 72.0pt 72.0pt
  }

  .c60 {
  list-style-type: circle;
  margin: 0;
  padding: 0
  }

  .c49 {
  padding-top: 12.0pt;
  margin: 0;
  padding-bottom: 2.0pt
  }

  .c57 {
  padding-top: 18.0pt;
  margin: 0;
  padding-bottom: 4.0pt
  }

  .c45 {
  text-indent: 20.0pt;
  margin-left: 20.0pt
  }

  .c53 {
  padding-left: 0pt;
  margin-left: 36.0pt
  }

  .c58 {
  text-indent: 57.0pt;
  margin-left: 57.0pt
  }

  .c34 {
  font-style: italic;
  text-decoration: underline
  }

  .c44 {
  text-indent: 1.0pt;
  margin-left: 1.0pt
  }

  .c18 {
  line-height: 1.15;
  direction: ltr
  }

  .c50 {
  text-indent: 18.0pt;
  margin-left: 18.0pt
  }

  .c52 {
  height: 36pt
  }

  .c54 {
  height: 33pt
  }

  .c37 {
  font-style: italic
  }

  .c43 {
  text-decoration: underline
  }

  .c31 {
  background-color: #e6e6e6
  }

  .c39 {
  border-collapse: collapse
  }

  .c28 {
  text-align: center
  }

  .c24 {
  background-color: #ffff00
  }

  .c9 {
  height: 11pt
  }

  .c17 {
  text-align: justify
  }

  .c20 {
  background-color: #ffffff
  }

  .c61 {
  height: 37pt
  }

  .c15 {
  background-color: #f3f3f3
  }

  .c42 {
  font-weight: bold
  }

  .c21 {
  background-color: #ccffcc
  }

  .line {
  border-top: 1px dashed #000; /* Параметры линии */
  height: 18px; /* Высота блока */
  }
</style>


<p class="c16"><span class="c0">ПУБЛИЧНЫЙ ДОГОВОР</span></p>

<p class="c16"><span class="c0">о предоставлении услуг
 в сети Интернет</span></p>

<p class="c7"><span class="c0"></span></p>

<p class="c18"><span class="c0">Банк:</span><span class="c1">
 ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО «КОММЕРЧЕCКИЙ БАНК «ПРИВАТБАНК», на
основании лицензии Национального Банка Украины № &nbsp;№22 &nbsp;от
04.12.01г., руководствуясь Законом Украины "О банках и банковской
деятельности", а также ст. 633, 634 Гражданского кодекса Украины,
публично предлагает неограниченному кругу лиц возможность получения
услуг Эквайринга в сети Интернет, для чего публикует настоящий Договор о
 следующем:</span></p>

<p class="c18 c9"><span class="c1"></span></p>

<p class="c10"><span class="c0">1.Предмет Договора</span></p>

<p class="c10"><span class="c1">1.1.
 &nbsp;Настоящий Договор регулирует отношения Предприятия и ПриватБанка,
согласно которым Предприятие с целью проведения оплаты стоимости
товаров, услуг в сети Интернет принимает к оплате специальные платежные
средства, держателями которых являются Плательщики, при помощи Сервиса
LiqPay, далее – «Сервис», а Банк обеспечивает технологическое
обслуживание Предприятия по исполнению расчетов с ним по операциям,
которые осуществлены с использованием специальных платежных средств, и
перечислению денежных средств на текущий счет Предприятия.</span></p>

<p class="c10"><span class="c1">1.2.
 Качество услуг, предоставляемых Банком по настоящему Договору, должно
соответствовать законодательству Украины, нормативным актам НБУ, которые
 регулируют операции с использованием специальных платежных средств.</span></p>

<p class="c18"><span class="c1">
 1.3.&nbsp;Настоящий Договор публично доносится неограниченному кругу лиц для
 содействия в оплате товаров и услуг с помощь Карт в сети Интернет
посредством Сервиса LiqPay, путем его размещения (публикации) на:</span></p>

<p class="c10"><span class="c1 cm1">- официальном веб-сайте ПриватБанка </span><span
class="c1 c20">http://e.privatbank.ua/</span><span class="c1"> (постоянно доступен для ознакомления).</span>
</p>

<p class="c10"><span class="c1">1.4.&nbsp; Настоящий Договор вступает в силу с момента указания Предприятием
Динамического пароля в Заявлении Предприятия о присоединении к
ПУБЛИЧНОМУ ДОГОВОРУ о предоставлении услуг Эквайринга в сети Интернет
(далее - Заявление о присоединении к Договору).</span></p>

<p class="c7"><span class="c1"></span></p>

<p class="c10"><span class="c0">2.</span><span class="c1"> </span><span
class="c0">Основные термины и понятия.</span></p>

<p class="c10"><span class="c1">2.1.&nbsp;Термины, не указанные в данном разделе, употребляются в тексте
настоящего Договора, в значениях согласно законодательству Украины.</span></p>

<p class="c10"><span class="c1">2.2.&nbsp;</span><span
class="c0">Авторизация</span><span class="c1"> – процедура получения разрешения на проведения операции с Картой.</span>
</p>

<p class="c10"><span class="c1">2.3.&nbsp;</span><span class="c0">Верификация Покупателя </span><span
class="c1">— проверка наличия персональных данных Покупателя в списках запретов: физических лиц, E-mail адресов, почтовых адресов.</span>
</p>

<p class="c10"><span class="c1">2.4.&nbsp;</span><span class="c0">Верификация Покупателя по стандарту 3-D Secure</span><span
class="c1">
 — проверка персональных данных Покупателя, при которой запрос
маршрутизируется при помощи ПриватБанка и Международных платежных систем в
банк, выпустивший карту. На сайте ПриватБанка, выпустившего его карту,
Покупатель вводит свой Логин и Пароль для безопасных расчетов в
Интернет, выданный ему его банком. При вводе правильного Логина и Пароля
 клиентом, банк, выпустивший карту, разрешает проведение финансовой
авторизации по этой карте.</span></p>

<p class="c10"><span class="c1">2.5.</span><span class="c0">&nbsp;Динамический пароль</span><span
class="c1">
 – единоразовый пароль, который приходит на номер мобильного телефона
Предприятия, указанного в Заявлении о присоединении к Договору, а
Предприятие использует его для подтверждения источника запроса при
проведении Транзакции.</span></p>

<p class="c10"><span class="c1">2.6.&nbsp;</span><span class="c0">Заказ </span><span
class="c1">– совокупность товаров и услуг Интернет-магазина, их стоимости, способа и стоимости их доставки, персональных данных Покупателя.</span>
</p>

<p class="c10">
  <span class="c1">2.7.&nbsp;</span><span class="c0">Интернет-магазин </span><span
class="c1">—
 совокупность информации о товарах и услугах Предприятия, а также
сервисных функций, размещенная на Web-сайте Предприятия и
предоставляемая посетителям указанного Web-сайта.</span></p>

<p class="c10"><span class="c1">2.8. </span><span class="c0">Курьер</span><span
class="c1">
 — лицо производящее адресную доставку товара Предприятия. Предприятие
может использовать собственных курьеров, а также курьеров любой
независимой курьерской службы, с которой у Предприятия заключен договор
на обслуживание.</span></p>

<p class="c10"><span class="c1">2.9.</span><span class="c0"> Максимальная сумма транзакции</span><span
class="c1"> — общая сумма Заказа, свыше которой Транзакция не проводится.</span>
</p>

<p class="c10"><span class="c1">2.10. </span><span
class="c0">Покупатель </span><span class="c1">— лицо, заказывающее и оплачивающее с помощью Карты товары или услуги Предприятия через Интернет.</span>
</p>

<p class="c10"><span class="c1">2.11. </span><span
class="c0">Получатель </span><span class="c1">—
 лицо, получающее товары или услуги Предприятия. Получателем может быть
как Покупатель так и любое другое лицо, определенное Покупателем для
получения товара или услуги.</span></p>

<p class="c10"><span class="c1">2.12. </span><span class="c0">Посетитель Интернет-магазина</span><span
class="c1"> - любое физическое лицо - пользователь сети Интернет, осуществляющее доступ к Интернет-магазину Предприятия.</span>
</p>

<p class="c10"><span class="c1">2.13. </span><span class="c0">Платежная карта, далее Карта,</span><span
class="c1">
 – специальное платежное средство в виде эмитированного в установленном
законодательством порядке пластиковой карты, которая используется для
инициирования перевода денежных средств со счета плательщика или с
соответствующего сета в банке с целью оплаты стоимости товаров или услуг
 или совершения других операций, предусмотренных действующим
законодательством.</span></p>

<p class="c10"><span class="c1">2.14.</span><span
class="c0"> Предприятие</span><span class="c1">
 – субъект предпринимательской деятельности, который на условиях
настоящего Договора принимает Карты с целью осуществления оплаты
стоимости товаров/услуг в его Интернет-магазинах. Предприятием может
быть только юридическое лицо или физическое лицо – субъект
предпринимательской деятельности, которое открыло текущий счет в Банке
либо в другом украинском или российском банке.</span></p>

<p class="c10"><span class="c1">2.15. </span><span
class="c0">Сервер </span><span class="c1">—
 представляет собой компьютер, подключенный к сети Интернет, на котором
выполняется программное обеспечение, управляющее доступом ко всем
ресурсам или к части ресурсов сети. Компьютер с серверными возможностями
 позволяет предоставить доступ к ресурсам для других компьютеров сети.</span>
</p>

<p class="c10"><span class="c1">2.16. </span><span class="c0">Сервер Предприятия </span><span
class="c1">— Сервер, находящийся под управлением и полным контролем Предприятия.</span>
</p>

<p class="c10"><span class="c1">2.17. </span><span
class="c0">Сервис </span><span class="c1">–
 информационно-технологический сервис ПриватБанка, который дает возможность
пользователям распоряжаться своими денежными средствами в сети Интернет.</span>
</p>

<p class="c10"><span class="c1">2.18. </span><span class="c0">Специальное платежное средство </span><span
class="c1">-
 специальное платежное средство - платежная карта, мобильный платежный
инструмент, другой платежный инструмент, который выполняет функцию
средства идентификации, с помощью которого держатель этого инструмента
осуществляет платежные операции со счета плательщика или ПриватБанка, а также
другие операции, установленные договором.</span></p>

<p class="c10"><span class="c1">2.19. </span><span
class="c0">Срок возмещения </span><span class="c1">—
 количество банковских дней с момента подтверждения Предприятием
отправки товара / оказания услуги до момента перечисления Банком
возмещения Предприятию. День проведения Подтверждения не входит в срок
возмещения.</span></p>

<p class="c10"><span class="c1">2.20. </span><span
class="c0">Транзакция </span><span class="c1">–
 совокупность операций между Покупателем, Предприятием и Банком по
приобретению товаров либо услуг в Интернет-магазине с использованием
Карты в качестве платежного средства.</span></p>

<p class="c10"><span class="c1">2.21. </span><span class="c0">Платежная страница Предприятия</span><span
class="c1">
 – страница Web-сайта Предприятия, на которой Покупатель нажимает кнопку
 «Оплатить», чем инициирует переход со страницы web-сайта Предприятия на
 защищенный Сервер Сервиса и передачу в банк информации, необходимой для
 совершения Транзакции по оплаты стоимости товара/услуги с
использованием Карты.</span></p>

<p class="c10"><span class="c1">2.22. </span><span class="c0">Эквайринг </span><span
class="c1">–
 деятельность эквайра, связанная с технологическим, информационным
обслуживанием Предприятия и выполнением расчетов с ними по операциям,
которые осуществляются с использованием платежных карт.</span></p>

<p class="c10"><span class="c1">2.23. </span><span
class="c0">Chargeback </span><span class="c1">–
 финансовая претензия Банка-Эмитента Банку-Эквайеру на возврат платежа
по проведенной Транзакции. Выставляется в случае отказа Покупателем от
списания с его карточного счета, которое обнаруживается Покупателем
после получения им выписки из своего Банка-Эмитента.</span></p>

<p class="c10"><span class="c1">2.24. </span><span
class="c0">IP-адрес</span><span class="c1"> — уникальный цифровой номер, идентифицирующий компьютер в течение сеанса работы в сети Интернет.</span>
</p>

<p class="c10"><span class="c1">2.25. </span><span
class="c0">Web-адрес</span><span class="c1"> — текстовая форма IP-адреса в World Wide Web – составной части сети Интернет.</span>
</p>

<p class="c10"><span class="c1">2.26. </span><span
class="c0">Web-сайт</span><span class="c1">
 — совокупность информации и сервисных функций, доступных пользователям
сети Интернет, собранных на одном или нескольких серверах.</span></p>

<p class="c10"><span class="c1">2.27. </span><span class="c0">Посетитель Web-сайта </span><span
class="c1">— любое физическое лицо - пользователь сети Интернет, осуществляющее доступ к Web-сайту.</span>
</p>

<p class="c10"><span class="c1">2.28. </span><span class="c0">Web-сайт Предприятия,</span><span
class="c1"> далее Сайт — web-сайт, управляемый и контролируемый Предприятием.</span>
</p>
<p class="c10"><span class="c1">2.29. </span><span class="c0">Компрометация</span><span
class="c1"> – факт несанкционированного доступа к защищенной информации (карточные платежные реквизиты, логин, пароль, иные атрибуты учетной регистрационной записи клиента на сайте), а также подозрение осуществления такого доступа.</span>
</p>

<p class="c7"><span class="c1"></span></p>

<p class="c10"><span class="c0">3.</span><span class="c1"> </span><span
class="c0">Права и обязанности Предприятия</span></p>

<p class="c10"><span class="c0">3.1. Предприятие имеет право:</span></p>

<p class="c10"><span class="c1">3.1.1.
 Получать от Банка консультации по порядку подключения Интернет-магазина
 к Серверу Сервиса, расходные и информационные материалы, инструктаж
персонала по работе с Сервером и порядку проведения Транзакций и
Верификации.</span></p>

<p class="c10"><span class="c1">3.1.2.
Предприятие самостоятельно определяет порядок продажи и возврата товара,
 согласно действующему законодательству. Информацию о таком порядке
Предприятие размещает на Сайте. В случае если товар (услуга) возврату не
 подлежит, пункты настоящего Договора, регулирующие порядок возврата
товара и оплаченных за него средств не применяются.</span></p>

<p class="c10"><span class="c1">3.1.3. Заключать с Покупателем соглашение на Сайте, с выделением ему псевдонима и пароля, в котором указывается явно:</span>
</p>

<p class="c10"><span class="c1">3.1.3.1.
 Покупатель признает законной оплату товаров и услуг с использованием
(подтверждением) присвоенных ему псевдонима и пароля.</span></p>

<p class="c10"><span class="c1">3.1.3.2.
 Покупатель признает, что товары и услуги, оплаченные с использованием
(подтверждением), присвоенных ему псевдонима и пароля являются
оплаченными им (Покупателем).</span></p>

<p class="c7"><span class="c1"></span></p>

<p class="c10"><span class="c0">3.2. Предприятие обязано:</span></p>

<p class="c10"><span class="c1">3.2.1. При проведении Транзакции соблюдать порядок работы с Картами, изложенный в настоящем Договоре.</span>
</p>

<p class="c10"><span class="c1">3.2.2.
 Обеспечить конфиденциальность и неразглашение информации об операциях,
персональных данных Покупателей по Транзакциям, процессируемым через
Предприятие.</span></p>

<p class="c10"><span class="c1">3.2.3. Не
допускать превышения цен на товары или услуги, оплачиваемые по Картам
через Интернет, над ценами, установленными для реализации товаров или
услуг с помощью Интернет иным способом.</span></p>

<p class="c10"><span class="c1">3.2.4.
 Контролировать прохождение платежей по Транзакциям Предприятия и в
случае обнаружения задолженности немедленно уведомить об этом Банк.</span></p>

<p class="c10"><span class="c1">3.2.5. Не допускать превышения Максимальной суммы Заказа для одного Покупателя, установленного Банком в соответствии с п.</span><span
class="c1 c20"> 4.1.1 </span><span
class="c1">настоящего Договора.</span></p>

<p class="c10"><span class="c1">3.2.6.
 Выполнять существующие требования по товарно-кассовому учету при
оформлении операции оплаты с использованием Карты в качестве платежного
средства. Обеспечить сохранность документов, касающихся продажи товаров
или услуг с помощью Web-сайта Предприятия (своих экземпляров квитанций
доставки заказа), на протяжении не менее 3-х лет.</span></p>

<p class="c10"><span class="c1">3.2.7.
 Предоставлять Банку, в течение трех рабочих дней, по его запросу копии
подтверждающих документов об оказании услуги/квитанций доставки заказа,
подтверждающие факт завершения выполнения обязательств Предприятия перед
 Покупателем по Транзакции. В случае не предоставления Предприятием
указанных документов Банк имеет право удержать из суммы возмещенных
средств сумму данной Транзакции.</span></p>

<p class="c10"><span class="c1">3.2.8. Указывать явно на Web-сайте своего Интернет-магазина:</span>
</p>

<p class="c10  cm1"><span
class="c1"> a) типы Карт, принимаемых к оплате;</span></p>

<p class="c10  cm1"><span class="c1">
 b) свои:
юридический адрес, реквизиты лицензии на осуществляемую деятельность,
адрес электронной почты, телефон; а также: телефон, условия и срок для
отмены Заказа</span></p>

<p class="c10  cm1"><span class="c1"> c) на
существование каких-либо ограничений в обслуживании (например,
невозможность отменить Заказ и т.п.),</span></p>

<p class="c10  cm1"><span class="c1">
 d) на схему распределения ответственности между
Предприятием и подрядчиком по доставке Заказа (курьерской службой,
почтой и т.п.) по транспортировке и передаче Заказа.</span></p>

<p class="c10 cm1"><span class="c1 ">
  e) Логотипы стандарта безопасности 3-D Secure
«Verified By Visa» и «MasterCard SecureCode», в обязательном порядке
размещенные на Платежной странице Предприятия, а также на других
страницах сайта по решению Предприятия, уведомляющие Посетителя о
повышенных требованиях безопасности на данном сайте.</span></p>

<p class="c10"><span class="c1">3.2.9.
 Использовать логотип Банка, Международных платежных систем, чьи Карты
принимаются к обслуживанию по настоящему Договору и ссылку
www.privatbank.ua на своем Сайте. Размещение вышеуказанных логотипов и
ссылки на страницах сайта - по усмотрению Предприятия. Банк оставляет за
 собой право корректировать размещение логотипов Международных платежных
 систем согласно соответствующим требованиям платежных систем, а также
корректировать размещение ссылки и логотипа Банка.</span></p>

<p class="c10"><span class="c1">3.2.10. Разместить на Сайте полную информацию о реализуемых товарах и предоставляемых услугах Интернет-магазином.</span>
</p>

<p class="c10"><span class="c1">3.2.11. Запрещается продажа товаров/услуг, если:</span>
</p>

<p class="c18 cm1"><span class="c1">
 a) такая продажа является незаконной, или может навредить
деловой репутации или негативно отразиться на бренде Банка,
&nbsp;Международных платежных систем: &nbsp;</span></p>
<ol class="c25" start="1">
  <li class="c3"><span class="c1">огнестрельного оружия, запасных частей к нему, боеприпасов, холодного оружия, которое запрещено правоохранительными органами;</span>
  </li>
  <li class="c3"><span class="c1">наркотиков,
 стероидов, других продуктов, которые представляют опасность для
здоровья потребителей, приспособления для их употребления;</span></li>
  <li class="c3"><span class="c1">нелицензированных лекарственных препаратов, доставка лекарственных препаратов за пределы Украины;</span>
  </li>
  <li class="c3"><span class="c1">табачных изделий, продуктов игорного бизнеса, казино, лотереи;</span>
  </li>
</ol>
<p class="c18 cm1"><span class="c1">
 b) продажа, &nbsp;в том числе изображения, которое
является явно оскорбительные и не имеет &nbsp;художественной ценности
(например, изображения сексуального характера, сексуальной эксплуатацией
 несовершеннолетних, увечья лицу или органов, также проявление
жестокости)</span></p>

<p class="c10 cm1"><span class="c1"> c) товары/услуги относятся к запрещенным, в соответствии с законодательством Украины и Правилами Международных платежных систем
</span></p>

<p class="c10 cm1"><span class="c1">
d) продажа любого другого товара/услуг, который Предприятие, по
своему усмотрению, считает неприемлемыми для продажи со своим брендом.</span>
</p>

<p class="c10"><span class="c1">3.2.12. Обеспечивать Покупателей контактной информацией о сотрудниках Предприятия, обеспечивающих работу Интернет-магазина.</span>
</p>

<p class="c10"><span class="c1">3.2.13.
 Изменение платежных реквизитов Предприятия производить только после
получения от Банка возмещения по всем представленным ранее данным.
Информировать Банк за 7 дней об изменениях реквизитов, вида деятельности
 Предприятия в письменном виде (по почте либо по e-mail).</span></p>

<p class="c10"><span class="c1">3.2.14.
 При возникновении обстоятельств, препятствующих выполнению условий
настоящего Договора, уведомить Банк в трехдневный срок.</span></p>

<p class="c10"><span class="c1">3.2.15.
 Предприятие обязано вести журнал Заказов, с минимальным перечнем полей
согласно формы в Приложении 4, и обеспечить предоставление информации из
 данного журнала по Транзакции(ям) согласно запроса Банка в 3-х дневный
срок со дня получения запроса для проведения анализа платежей.</span></p>

<p class="c10"><span class="c1">3.2.16.
 Предприятие обязано вести Список-запретов IP-адресов, e-mail адресов,
адресов доставки и физических лиц и обеспечить добавление информации в
них по запросу банка в течение суток с момента поступления запроса по
факсу либо по e-mail.</span></p>

<p class="c10"><span class="c1">3.2.17.
Предприятие обязано не посылать на обработку в Банк Транзакции,
реквизиты которой занесены в Список-запретов (IP-адресов, e-mail
адресов, адресов доставки и физических лиц)</span></p>

<p class="c10"><span class="c1">3.2.18.
 В случае получения письменного уведомления от Банка Предприятие обязано
 задержать отгрузку товара для проведения работы по подтверждению
законности Транзакции до момента получения подтверждения от Банка о
законности операции. В случае подтверждения законности операции Банк
уведомляет Предприятие о возможности отправки товара. В случае
подтверждения незаконного использования Карты для проведения Транзакции,
 Предприятие обязано инициировать отмену операции.</span></p>

<p class="c10"><span class="c1">3.2.19. Согласно п.</span><span class="c1 c20">п.4.1.4, 4.1.5 Пр</span><span
class="c1">едприятие
 обязано приостановить проведение платежей с использованием Карт через 3
 дня после получения уведомления из Банка до окончательного выяснения
обстоятельств и возобновить прием платежей с использованием Карт после
получения уведомления от Банка.</span></p>

<p class="c10"><span class="c1">3.2.20.
 В случае выявления сомнительных операций с использованием платежных
карт, немедленно в обязательном порядке уведомить об этом Банк и
правоохранительные органы.</span></p>

<p class="c10"><span class="c1">3.2.21.
 Обеспечить сохранение конфиденциальности всей переданной Банком
Предприятию технической информации по настоящему Договору.</span></p>

<p class="c10"><span class="c1">3.2.22.Оформить
 страницы Web-сайта Интернет-магазина в соответствии с «Требования и
рекомендациями и по оформлению сайта Интернет-магазина, работающего по
технологии 3-D Secure» в Приложении 5 к настоящему Договору.</span></p>

<p class="c10"><span class="c1">3.2.23.
 Предприятие обязано по истечении 6-ти месяцев после подписания
настоящего Договора провести как минимум 1 платеж по Карте и далее,
минимум 1 платеж в квартал.</span></p>

<p class="c10"><span class="c1">3.2.24.
 В соответствии с требованиями международного стандарта безопасности
интернет-платежей 3-D Securе, принятого международным платежными
системами Visa Int. и MasterCard Int. Предприятие строго обязуется НЕ
требовать ввод реквизитов платежных карт (Номер Карты, Срок действия,
CVV2) от Покупателей на своем сайте. Ввод реквизитов платежных карт
осуществляется СТРОГО на защищенном Сервере Сервиса</span><span class="c1"><a
href="http://www.google.com/url?q=https%3A%2F%2Fwww.liqpay.com%2F%3Fdo%3DclickNbuy&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFnWyvPnQ3gwGPrMt_-I3kQ7CkkoQ"> </a></span><span
class="c14"><a
href="http://www.google.com/url?q=https%3A%2F%2Fwww.liqpay.com%2F%3Fdo%3DclickNbuy&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFnWyvPnQ3gwGPrMt_-I3kQ7CkkoQ">https://www.liqpay.com/?do=clickNbuy</a></span><span
class="c1 c20"> и исключит</span><span class="c1">ельно лично ПОКУПАТЕЛЕМ.</span>
</p>

<p class="c10"><span class="c1">3.2.25.
 Предприятие обязано проинформировать Посетителя Сайта Предприятия в
случае, если при формировании Заказа начинают действовать ограничения
согласно п.3.2.5. о соблюдении максимальных лимитов Заказа.</span></p>

<p class="c10"><span class="c1">3.2.26.
  В случае предъявления претензий Банку со стороны третьих лиц / Международных
    платежных систем, Предприятие  обязано  возместить в полном объеме Банку
    понесенные им убытки,  возникшие в результате деятельности Предприятия
    и/или его контрагента.</span></p>

<p class="c10"><span class="c1">3.2.27.
  В случае взыскания исполнительными органами законодательной власти Украины,
    международными платежными системами с Банка штрафов, связанных с нарушением
    Предприятия  и/или его контрагента, требований законодательства Украины,
    Международных платежных систем к хранению информации о данных Карт и об
    операциях, совершенных с их использованием (а также в иных случаях виновных
    действий/бездействия Предприятия и/или его контрагента, связанных с
    нарушением законодательства Украины и правил МПС,  Предприятие обязано
    возместить Банку сумму уплаченных им штрафов в порядке, указанном в
    настоящем договоре,  на усмотрение Банка,  на основании выставленного
    счета.»</span></p>


<p class="c10"><span class="c1">3.2.28.
  Оплата Предприятием Банку комиссий, штрафов, пеней, выплата сумм, может быть
    произведена на основании счета, выставляемого Банком Предприятию, в гривнях
    Украины. Предприятие обязано оплатить данный счет в течение 10 рабочих дней
    с даты его выставления. В случае неоплаты счета в установленные сроки
    Предприятие обязано уплатить Банку пеню в размере 0.1% от суммы
    задолженности за каждый день просрочки платежа.</span></p>

<p class="c10"><span class="c1">3.2.29.
Уведомить Банк незамедлительно, но не позднее одного календарного дня, о выявленных фактов компрометации.
Незамедлительно принять меры по предотвращению компрометации и устранению слабых мест в безопасности защищенной информации.
Раскрывать информацию судебным и правоохранительным органам, о компрометационных событиях, в порядке установленном действующим законодательством Украины (России).
Обеспечить возможность своим сотрудникам связаться по всем доступным каналам связи с представителями Банка для определения степени компрометации карточных платежных реквизитов.
</span></p>

<p class="c10"><span class="c1">3.2.30.
Сразу, но не позднее двадцати четырех (24) часов,обеспечить сохранение всей информации, во всех возможных для фиксации источниках, касающейся фактов компрометации, в том числе:

<ol class="c25" start="1">
  <li class="c3"><span class="c1">сохранение и защиту всех потенциальных доказательств, имеющих отношение к судебной экспертизе;</span></li>
  <li class="c3"><span class="c1">изолировать взломанные системы из сети;
</span></li>
  <li class="c3"><span class="c1">сохранить все системы обнаружения вторжений, защиту от вторжений, журналы Prevention System, все брандмауэры, Web, базы данных и журналы событий;
</span></li>
  <li class="c3"><span class="c1">документировать все действия реагирования на инциденты, а также воздерживаться от Перезагрузки любой скомпрометированой или потенциально зараженной системы или принятие эквивалентных действий, которые могут иметь эффект устранения или уничтожения информации, которая потенциально может свидетельствовать об событии.
</span></li>

</ol>

<p class="c7"><span class="c1"></span></p>

<p class="c10"><span class="c0">4. Права и обязанности Банка</span></p>

<p class="c10"><span class="c0">4.1. Банк имеет право:</span></p>

<p class="c10"><span class="c1">4.1.1.
 В рамках своих внутренних правил и политики ведения бизнеса Эквайринга с
 целью минимизации возможных рисков и убытков Сторон от мошеннической
деятельности в Интернет, установить Максимальную сумму Заказа для одного
 Покупателя в Интернет-магазине, которая составляет 2500 дол. США (две
тысячи пятьсот долларов США) за 1 Транзакцию.</span></p>

<p class="c10"><span class="c1">4.1.1.1. Установить максимальную сумму Транзакций одного Покупателя за месяц согласно таблице:</span>
</p>

<p class="c7"><span class="c1"></span></p>
<table class="c39" cellpadding="0" cellspacing="0">
  <tbody>
  <tr class="c52">
    <td class="c30 c31"><p class="c10"><span class="c0">Покупатель</span>
    </p></td>
    <td class="c32 c31"><p class="c10"><span
    class="c0">Лимит в месяц</span></p>

      <p class="c10"><span class="c0">(долларов США)</span></p></td>
  </tr>
  <tr class="c54">
    <td class="c30"><p class="c10"><span
    class="c1">Карта VISA и MasterCard</span></p></td>
    <td class="c32"><p class="c10"><span class="c1">10000</span></p></td>
  </tr>
  <!--<tr class="c61">-->
  <!--<td class="c30"><p class="c10"><span class="c1">Счет LiqPay</span></p>-->

  <!--<p class="c7"><span class="c1"></span></p>-->

  <!--<p class="c7"><span class="c1"></span></p></td>-->
  <!--<td class="c32"><p class="c10"><span class="c1">50000</span></p></td>-->
  <!--</tr>-->
  <tr>
    <td class="c30"><p class="c10"><span class="c1">Карта ПриватБанка или &nbsp;ЗАО МКБ "Москомприватбанк" </span>
    </p>

      <p class="c7"><span class="c1"></span></p></td>
    <td class="c32"><p class="c10"><span class="c1">50000</span></p></td>
  </tr>
  </tbody>
</table>
<p class="c7"><span class="c1"></span></p>

<p class="c10"><span class="c1">4.1.2.
 Ограничить общую сумму покупок по одной Карте за один день в
Интернет-магазине Предприятия с уведомлением об этом Предприятия по
факсу или электронной почтой. </span></p>

<p class="c18"><span class="c1">4.1.3. Ограничить суммарный оборот Интернет-магазина по Картам за месяц, установив лимит платежей до </span><span
class="c1">400 000,00 </span><span class="c1">грн &nbsp;(четырехсот тысяч гривен 00 коп.) в месяц.</span>
</p>

<p class="c10"><span class="c1">4.1.4. Отказать в приеме платежа по Карте, поставленной в Стоп-лист Карт.</span>
</p>

<p class="c10"><span class="c1 c20">4.1.5. </span><span class="c1"> Отказать в приеме платежа, а также возвратить платеж, если платеж Покупателя не прошел положительную проверку безопасности.</span>
</p>

<p class="c10"><span class="c1">4.1.6.&nbsp;Не производить Авторизацию платежа, для которого Предприятием нарушены условия п. 3.2.5. настоящего Договора.</span>
</p>

<p class="c10"><span class="c1">4.1.7.&nbsp;
 В случае получения претензии со стороны Покупателя либо Банка-Эмитента и
 подтверждения правомочности требований в соответствии с правилами
платежных систем, уменьшить сумму последующих возмещений на сумму
требования, если такие претензии возникли по вине Предприятия. В случае
отсутствия последующих Транзакций Предприятие обязано возместить Банку
сумму указанной Транзакции.</span></p>

<p class="c10"><span class="c1">4.1.8. Проверять соблюдение Предприятием пунктов настоящего Договора.</span>
</p>

<p class="c10"><span class="c1">4.1.9.
 В случае подтверждения претензии Покупателя о неполучении товара или
услуги Получателем Банк имеет право уменьшать сумму последующих
возмещений на сумму оспариваемой Транзакции со счета Предприятия. В
случае отсутствия последующих Транзакций Предприятие обязано возместить
Банку сумму указанной Транзакции.</span></p>

<p class="c10"><span class="c1 c20">4.1.10. </span><span class="c1">
        Банк имеет право приостановить проведение Авторизации операций, осуществляемых через Систему Предприятия (в письменном виде уведомив об этом Предприятие за день до даты приостановления Авторизации операций) в следующих случаях:</span>
     <ol class="c25" start="1">
       <li class="c3"><span class="c1">
            В случае если операции на момент их совершения вызывают подозрение относительно их правомерности (на основании информации, полученной Банком в результате мониторинга операций);
        </span>
       </li>
       <li class="c3"><span class="c1">
                        В случае получения Банком уведомления из Платежной системы/от эмитента карты (в том числе в электронном виде/по факсу) о том, что проведенные в Системе Предприятия операции являются мошенническими;
        </span>
       </li>
       <li class="c3"><span class="c1">
                        В случае получения Банком уведомления из Платежной системы (в том числе в электронном виде/по факсу) о превышении в Системе Предприятия допустимого (в соответствии с Правилами Платежной системы) количества операций в месяц - 200/допустимого уровня ежемесячного оборота по операциям – 2%, по которым предъявлены претензии.
        </span>
       </li>

     </ol>
<span class="c1">
    При возникновении претензий со стороны Держателя Карты или его Банка-Эмитента по поводу необоснованности списания средств с его счета в пользу Предприятия  и/или его контрагента, Банк принимает меры по урегулированию спорных вопросов, руководствуясь требованиями Международных платежных систем и действующим законодательством. При подтверждении неправомочности Транзакции через Систему Предприятия  и/или его контрагента, возникшей вследствие умышленного или неосторожного нарушения персоналом Предприятия  и/или его контрагента, условий Договора, Предприятие обязано возместить Банку сумму оспариваемой транзакции, а Банк имеет право удержать эту сумму из последующих возмещений Предприятию.
    Причины, по которым возможен Chargeback:</span>
    <ol class="c25" start="1">
      <li class="c3"><span class="c1">Услуга или товар не были предоставлены клиенту</span>
      </li>
      <li class="c3"><span class="c1">Некачественное предоставление продукта или сервиса (в действительности товар отличается от того, что было обещано ранее продавцом или услуги были оказаны не в полном объеме)</span>
      </li>
      <li class="c3"><span class="c1">Неверно спроцессированная операция</span>
      </li>
      <li class="c3"><span class="c1">Операция проведена без присутствия держателя карты,  с ручным вводом № карты, без проверки 3DSecure</span>
      </li>
      <li class="c3"><span class="c1">Мошеннические операции (списание с карты клиента средств за покупку, которую держатель карты не совершал)</span>
      </li>
      <li class="c3"><span class="c1">Процессирование корпоративной карты (код Chargeback — мошенничество)».</span>
      </li>
    </ol>

</span></p>

<p class="c10"><span class="c1">4.1.11. Банк
оставляет за собой право обратиться в правоохранительные органы, в
случае, если он обладает информацией об уже выявленных противоправных
действиях с использованием платежных карт либо возможных противоправных
случаях в будущем.</span></p>

<p class="c10"><span class="c1">4.1.12.
Банк имеет право отказать в приеме платежа, а также возвратить платеж,
если запрос на проведение платежа, производится не с адреса
Интернет-сайта точки реализации товаров, услуг, указанной в Заявлении о
присоединении к Договору, согласно п. 5.1. настоящего Договора. </span></p>


<p class="c10"><span class="c1">4.1.13.
Банк оставляет за собой право обратиться в правоохранительные органы, в случае, если он обладает информацией об уже выявленных противоправных действиях с использованием платежных карт, банковских счетов, продаже, распространению запрещенной продукции, либо возможных противоправных действиях в будущем, а так же фактах компрометации.
</span></p>
<p class="c10"><span class="c1">4.1.14.
 Банк имеет право досрочно расторгнуть договор в случае установления фактов компрометации данных, о чем письменно уведомить Предприятие в течение 5 календарных дней, с дня расторжения договора.
</span></p>
<p class="c10"><span class="c1">4.1.15.
Банк по результатам мониторинга операций оплаты с использованием Карт или в случае опротестования платежных операций пользователем, эмитентом или платежной организацией платежной системы имеет право остановить возмещение средств на счет Предприятия/Торговца для установления инициатора и правомерности перевода.
</span></p>


<p class="c7"><span class="c1"></span></p>

<p class="c10"><span class="c0">4.2. Банк обязан:</span></p>

<p class="c10"><span class="c1">4.2.1.
 Обеспечивать Авторизацию платежей, выполняемыми Покупателями
Интернет-магазина Предприятия с учетом п.п. 4.1.1, 4.1.2, 4.1.3.
настоящего Договора</span></p>

<p class="c10"><span class="c1">4.2.2.
Возмещать суммы Транзакций, проведенных в Интернет-магазине Предприятия,
 за вычетом комиссии Банка за расчетное обслуживание согласно п. 6.1.</span>
</p>

<p class="c10"><span class="c1">4.2.6.
 Обеспечить конфиденциальность и неразглашение информации об операциях,
Картах Покупателей и их персональных данных по Транзакциям,
процессируемым через Предприятие.</span></p>

<p class="c7"><span class="c1"></span></p>

<p class="c10"><span
class="c0">5. Правила и порядок проведения Транзакций</span></p>

<p class="c10"><span class="c1 c20">5.1.</span><span class="c1">
 Интернет-магазином Предприятия является Сайт Предприятия, указанный в
Заявлении о присоединении к Договору. В случае наличия у Предприятия
нескольких Интернет-магазинов, Предприятие обязано указать все URL
сайтов, с которых будут поступать платежи.</span></p>

<p class="c10"><span class="c1 c20">5.2. Сервером Сервиса является Web-сайт, имеющий адрес:</span><span
class="c1 c20"><a
href="http://www.google.com/url?q=https%3A%2F%2Fwww.verification.privatbank.ua%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFsvZAjPCp2qCQ-fFZImhYD8bUrgw"> </a></span><span
class="c14"><a
href="http://www.google.com/url?q=https%3A%2F%2Fwww.verification.privatbank.ua%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFsvZAjPCp2qCQ-fFZImhYD8bUrgw">https://www.liqpay.com/</a></span>
</p>

<p class="c10"><span class="c1">5.3.
 Выбор товаров и услуг, формирование их перечня и количества, выбор
способа доставки Посетитель производит программными средствами
Интернет-магазина.</span></p>

<p class="c10"><span class="c1">5.4. Каждому Заказу Интернет-магазин Предприятия присваивает уникальный, в базе данных Интернет-магазина, номер Заказа.</span>
</p>

<p class="c10"><span class="c1">5.5. Учет Заказов производится программными средствами в базе данных Интернет-магазина.</span>
</p>

<p class="c10"><span class="c1">5.6.
 На основании обработки регистрационных данных Посетителя
Интернет-магазина Предприятие должно принять решение о регистрации
Заказа.</span></p>

<p class="c10"><span class="c1">5.7. Регистрация
Заказа является непременным условием оплаты Заказа. Для регистрации
Заказа Посетитель Интернет-магазина должен заполнить, а Сервер
Предприятия - проверить поля Регистрационной Формы (см. Приложение 1).</span>
</p>

<p class="c10"><span class="c1">5.8. Посетитель Интернет-магазина становится Покупателем в случае успешной регистрации Заказа.</span>
</p>

<p class="c10"><span class="c1">5.9. Стоимость доставки включается Предприятием в стоимость Заказа.</span>
</p>

<p class="c10"><span class="c1">5.10.
 Интернет-магазин должен предоставить Покупателю возможность проверить
состав и общую стоимость Заказа, условия и адрес доставки, способ
оплаты, контактные данные Покупателя (телефон или адрес электронной
почты), и данные Получателя на соответствующей странице Сайта, и
подтвердить или отказаться от Заказа.</span></p>

<p class="c10"><span class="c1">5.11.
 &nbsp;Если в соответствии с п. 4.1.1 на общую сумму Заказа установлены
ограничения, то при формировании списка товаров (услуг) Посетителем с
помощью программных средств Интернет-магазина они должны быть учтены.</span>
</p>

<p class="c10"><span class="c1">5.12.
 &nbsp;Для оплаты Заказа Покупатель должен иметь возможность
программного обращения к Серверу Сервиса, путем использования запроса
Интернет-магазина на Сервер Сервиса. Оплате подлежат только
зарегистрированные в Интернет-магазине Заказы с обязательным присвоением
 уникального номера Заказа. Исходными данными для оплаты Заказа
являются: номер и сумма Заказа, направляемые в запросе
Интернет-магазином на Сервер Сервиса.</span></p>

<p class="c10"><span class="c1">5.13.
 &nbsp;Авторизация суммы Заказа производится Покупателем на Сервере
Сервиса путем указания и отправки с компьютера Покупателя Серверу
&nbsp;Сервиса реквизитов Карты Покупателя. Сервер Сервиса производит
Верификацию покупателя по стандарту 3-D Secure. В случае если
верификация покупателя по стандарту 3-D Secure прошла успешно или Карта
Покупателя не поддерживает стандарт 3-D Secure, Банк проводит
авторизацию платежа по данным Карты Покупателя на сумму Заказа в
соответствии с правилами международных платежных систем.</span></p>

<p class="c10"><span class="c1">5.14. &nbsp;Результат Авторизации направляется Предприятию в виде параметров страницы Web-сайта.</span>
</p>

<p class="c10"><span class="c1">5.15.
 &nbsp;Предприятие обязано проводить расчетные операции на полную сумму
Заказа с оформлением расчетных операций в рамках норм, предусмотренных
законодательством для Предприятия и его вида деятельности.</span></p>

<p class="c10"><span class="c1">5.16.
 &nbsp;При проведении расчетов в системе электронной коммерции
(Интернет-магазин) Предприятие должно формировать в электронной форме
квитанцию, которая должна включать как минимум следующие реквизиты:</span></p>
<ol class="c25" start="1">
  <li class="c3"><span class="c1">идентификатор Предприятия и эквайра или другие реквизиты, которые позволяют произвести их идентификацию;</span>
  </li>
  <li class="c3"><span class="c1">дату совершения операции;</span></li>
  <li class="c3"><span class="c1">вид операции;</span></li>
  <li class="c3"><span class="c1">сумму операции.</span></li>
</ol>
<p class="c10"><span class="c1">Квитанция должна быть направлена Покупателю согласно п.5.18.</span>
</p>

<p class="c10"><span class="c1">5.17.
 &nbsp;Отправка Заказа по указанному Покупателем адресу доставки либо
предоставление услуги Покупателю производится после проверки
Предприятием факта и суммы Авторизации </span><span class="c1 c20">на Сервере Сервиса (</span><span
class="c19"><a
href="http://www.google.com/url?q=https%3A%2F%2Fwww.liqpay.com%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHVGuAyCCWL_V8orI37arbXTqOB9w">https://www.liqpay.com/</a></span><span
class="c1 c20">) в соответствии с уникальным номером Заказа Предприятия.</span>
</p>

<p class="c10"><span class="c1">5.18.
 &nbsp;Перед отправкой Заказа Покупателю (при покупке твердых товаров)
по указанному им адресу доставки Предприятие обязано направить
Покупателю уведомление по указанному в регистрационной форме адресу
электронной почты с указанием состава и стоимости заказа, адреса
доставки, способа оплаты, персональных данных Получателя с обязательной
отметкой об этом в составе информации о регистрации Заказа.</span></p>

<p class="c10"><span class="c1">5.18.1.
 В случае, если Предприятие реализовывает твердый товар, то при передаче
 Заказа курьеру для доставки, Предприятие обязано выдать ему два
экземпляра квитанции доставки заказа или другого товаросопроводительного
 документа, содержащего в себе данные, указанные в Приложении 2,
заверенные подписью сотрудника Предприятия, ответственного за упаковку и
 отправку Заказа, и штампом Предприятия, а также распечатанный
регистратором расчетных операций расчетный документ (если данное
применимо на Предприятии). В случае если Предприятие реализовывает
электронный товар или услугу, Предприятие обязано выслать на e-mail
Получателю квитанцию об оплате в электронном виде, содержащую набор
реквизитов согласно Приложению 2, а также предусмотреть возможность
распечатки квитанции Покупателем с Сайта Предприятия. Порядок заполнения
 квитанции доставки заказа определяется Приложением 3.</span></p>

<p class="c10"><span class="c1">5.19. &nbsp;Факт доставки Заказа Покупателю либо факт возврата (части) Заказа Покупателем:</span>
</p>

<p class="c10"><span class="c1">5.19.1.
 В случае, если Предприятие реализовывает твердый товар - подтверждается
 на основании данных Квитанции доставки заказа (см. Приложение 3).
Указанная квитанция заполняется в двух экземплярах. Один экземпляр
является экземпляром Получателя, а второй экземпляр является экземпляром
 Предприятия. Порядок заполнения Квитанции доставки заказа определяется
Приложением 3.</span></p>

<p class="c10"><span class="c1">5.19.2. В
случае реализации электронного товара или услуги, принятие решения о
возможности возврата товара принимается Предприятием самостоятельно с
обязательным уведомлением Покупателя на сайте Предприятия о возможности
возврата товара согласно условиям настоящего Договора. Факт доставки
электронного товара/оказания услуги подтверждается на основании данных
квитанции (Приложение 2), направленной по указанному в регистрационной
форме адресу электронной почты Получателя после совершения оплаты на
сайте Предприятия. А также соответствующими лог-файлами – электронными
файлами, которые ведет Предприятие и содержащими записи о выдаче
электронного товара или оказании услуги Покупателя, которые включают в
т.ч. информацию о Покупателе, дату и время выдачи электронного товара
(оказания услуги), дату оплаты.</span></p>

<p class="c10"><span class="c1">5.20.&nbsp;Перечисление суммы Заказа, за вычетом комиссионных Банка, с
карточного счета Покупателя на счет Предприятия производится Банком в
соответствии с технологиями, принятыми при проведении взаиморасчетов с
помощью международных платежных систем.</span></p>

<p class="c10"><span class="c1">5.21.&nbsp;Возврат товара или его части производится на основании информации квитанции доставки Заказа (см. Приложение 2).</span>
</p>

<p class="c10"><span class="c1">5.22.&nbsp;Если Заказ или часть Заказа возвращена Покупателем,
&nbsp;Предприятие самостоятельно обязуется проводить возврат суммы
денежных средств, уплаченных Покупателем за товар.</span></p>

<p class="c10"><span class="c1">5.23.
В случае неоказания или частичного оказания услуги Покупателю,
Предприятие обязано самостоятельно осуществить полный или частичный
возврат средств Покупателю со своего счета или любым другим возможным
способом, оговоренным ранее с Покупателем.</span></p>
<p class="c10"><span class="c1">5.24 Предприятие имеет право не требовать от банка
    осуществить возврат ему суммы перевода с транзитного счета банка по истечении
    тридцати рабочих дней со дня поступления этой суммы на транзитный счет банка
    и не требует от банка направить запрос на уточнение реквизитов получателя.
</span></p>

<p class="c7"><span class="c1"></span></p>

<p class="c10"><span class="c0">6. Финансовые условия</span></p>

<p class="c18"><span class="c1">6.1.
 Комиссия за расчетное обслуживание операций по Картам взимаемается
Банком при возмещении Предприятию в процентном соотношении согласно
таблице 1 от суммы каждой Транзакции. Сроки возмещения составляют до 3-х
 рабочих для Банка дней.</span></p>

<p class="c18 c9"><span class="c1"></span></p>
<table class="c39" cellpadding="0" cellspacing="0">
  <tbody>
  <!--<tr>-->
  <!--<td class="c27 c31"><p class="c16"><span class="c1">Отправитель</span>-->
  <!--</p></td>-->
  <!--<td class="c27 c31"><p class="c16"><span class="c1">счет Предприятия для возмещения открыт в Банке </span>-->
  <!--</p></td>-->
  <!--<td class="c27 c31"><p class="c16"><span class="c1">счет Предприятия для возмещения открыт в другом банке Украины. </span>-->
  <!--</p></td>-->
  <!--</tr>-->
  <tr>
    <td class="c27"><p class="c16"><span class="c1">Оплата картами VISA и MasterCard </span>
    </p></td>
    <td class="c27"><p class="c16"><span class="c1">2.75%</span></p></td>
    <!--<td class="c27"><p class="c18 c9"><span class="c1"></span></p>-->

    <!--<p class="c16"><span class="c1">1.5%</span></p></td>-->
  </tr>






  </tbody>
</table>
<p class="c18 c9"><span class="c1"></span></p>

<p class="c10"><span class="c0">7. Ответственность Сторон</span></p>

<p class="c10"><span class="c1">7.1.
 При невыполнении или ненадлежащем выполнении своих обязательств одной
из Сторон, другая сторона имеет право потребовать от виновной стороны
исполнения принятых на себя обязательств, а также возмещения причиненных
 ей убытков.</span></p>

<p class="c10"><span class="c1">7.3 При
невыполнении условий п. 3.2.11., Предприятие выплачивает Банку штраф, в
размере, эквивалента 2 500 USD за каждое установленное нарушение
(платеж).</span></p>

<p class="c10"><span class="c1">7.4. Банк имеет
право применять правовые меры по возмещению убытков, связанных с
применением штрафных санкций платежных систем Visa, MasterCard по
результатам незаконной деятельности Предприятия, связанной с нарушением
п. </span><span class="c1 c20">3.2.11., </span><span class="c1">
Предприятие обязуется возместить сумму нанесенного ущерба Банку в полном
 объеме, включая расходы, связанные с оказанием Банку правовой помощи
третьими лицами.</span></p>

<p class="c10"><span class="c1">7.5. При
несоблюдении Предприятием своих обязанностей согласно п. 3.2.3
Предприятие выплачивает Банку штраф в размере 5000 грн. за каждый случай
 нарушения, а также разницу цены Заказа при оплате картой по сравнению с
 другими видами оплат по каждой оспоренной по этому правилу Транзакции.
Уплата штрафа осуществляется в порядке п.7.11. Предприятие обязано в
течение 3-х дней после получения официального уведомления от Банка о
нарушении п.3.2.3 устранить нарушения. В случае неустранения или отказа в
 устранении нарушения, Банк направляет письмо Предприятию об уплате
штрафа.</span></p>

<p class="c10"><span class="c1">7.6. В случае если
текущий счет Предприятия, указанный в реквизитах для перечисления
возмещения по Транзакциям, находится в другом банке, Банк не несет
ответственность за комиссии, взимаемые с сумм возмещения Предприятия его
 расчетным банком, и сроки зачисления &nbsp;расчетным &nbsp;банком сумм
возмещения на счет Предприятия.</span></p>

<p class="c10"><span class="c1">7.7. Предприятие несет полную ответственность за информацию, содержащуюся на его Сайте.</span>
</p>

<p class="c10"><span class="c1">7.8.При
 подтверждении факта разглашения конфиденциальной информации,
предусмотренной пунктами 3.2.2, 4.2.6. настоящего Договора, а также за
нарушение пункта 3.2.24., виновная сторона выплачивает &nbsp;штраф
&nbsp;в размере 5000 грн. за каждый случай нарушения. Дополнительно, в
случае нарушения п. 3.2.24., Банк &nbsp;имеет право наложить на
Предприятие штраф в сумме &nbsp;Транзакции, проведенной с нарушением, в
случае если эта Транзакция будет оспорена Покупателем.</span></p>

<p class="c10"><span class="c1">7.9.В
 случае нарушения Предприятием обязательств, предусмотренных п.3.2.24
настоящего Договора, Предприятие уплачивает Банку штраф в сумме
Транзакции, проведенной с нарушением, (при условии если эта Транзакция
будет оспорена Покупателем).</span></p>

<p class="c10"><span class="c1">7.10.
 При неоднократном нарушении п.3.2.24. Банк имеет право расторгнуть
настоящий Договор в одностороннем порядке через 10-дней после
уведомления об этом Предприятия. Уведомление о нарушении п.3.2.24.
направляется Предприятию.</span></p>

<p class="c10"><span class="c1 c20">7.11. </span><span class="c1">
 Суммы штрафов, предусмотренные разделом 7 настоящего Договора,
удерживаются Банком из последующих возмещений Предприятию путем списания
 с промежуточного счета необходимой суммы.</span></p>

<p class="c7"><span class="c1"></span></p>

<p class="c10"><span class="c0">8. Урегулирование разногласий и рассмотрение споров</span>
</p>

<p class="c10"><span class="c1">8.1.
 Все споры и разногласия, возникающие из настоящего Договора или в связи
 с ним, будут, по возможности, разрешаться путем переговоров между
Сторонами.</span></p>

<p class="c10"><span class="c1">8.2. Если Стороны
не придут к соглашению, споры и разногласия подлежат разрешению в
установленном действующим законодательством порядке.</span></p>

<p class="c10"><span class="c1">8.3.
 При возникновении претензий со стороны Держателя Карты или его
Банка-Эмитента по поводу необоснованности списания средств с его счета в
 пользу Предприятия, Банк принимает меры по урегулированию спорных
вопросов, руководствуясь требованиями Международных платежных систем и
действующим законодательством Украины. При подтверждении неправомочности
 Транзакции, возникшей вследствие умышленного или неосторожного
нарушения персоналом Предприятия условий настоящего Договора,
Предприятие обязано возместить Банку сумму оспариваемой транзакции, а
Банк имеет право удержать эту сумму из последующих возмещений
Предприятию.</span></p>

<p class="c7"><span class="c1"></span></p>

<p class="c10"><span
class="c0">9. Сроки Договора и условия его прекращения</span></p>

<p class="c10"><span class="c1">9.1.
 Настоящий Договор вступает в силу с момента указания Предприятием
динамического пароля в Заявлении о присоединении к Договору и действует
на протяжении одного года. Если в течение одного месяца до окончания
срока действия настоящего Договора ни одна из Сторон не выступила с
инициативой о прекращении его действия, Договор продолжает действовать
на тех же условиях и на протяжение такого же срока.</span></p>

<p class="c10"><span class="c1">9.2
 Прекращение настоящего Договора осуществляется в соответствие с
положениями настоящего Договора и действующего законодательства Украины.
 При наличии у одной из Сторон финансовых или иных претензий друг к
другу, расторжение Договора откладывается до урегулирования спорных
вопросов.</span></p>

<p class="c18"><span class="c1">9.3. При расторжении
 настоящего Договора Предприятие обязуется снять со всех страниц сайта
логотипы Verified By Visa, MasterCard SecureCode, ПАО КБ «ПРИВАТБАНК»,
Приват-24, ссылку</span><span class="c1"><a
href="http://www.google.com/url?q=http%3A%2F%2Fwww.privatbank.ua%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFjWI9dHERiD-XAR9j3WAXtMWBHPw"> </a></span><span
class="c19"><a
href="http://www.google.com/url?q=http%3A%2F%2Fwww.privatbank.ua%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFjWI9dHERiD-XAR9j3WAXtMWBHPw">www.privatbank.ua</a></span><span
class="c1"> и другую информацию о сотрудничестве с ПАО КБ «ПРИВАТБАНК» по настоящему Договору.</span>
</p>
<p class="c10"><span class="c1">9.4.
В случае установления фактов компрометации данных,по причине ненадлежащей защиты карточных платежных реквизитов Предприятием, Банк имеет право досрочно расторгнуть договор. При этом Банк письменно уведомляет Предприятие в течение 5 календарных дней, с дня расторжения договора.
 </span></p>



<p class="c18 c9"><span class="c1"></span></p>

<p class="c18"><span class="c0">10. Форс-мажор</span></p>

<p class="c18"><span class="c1">10.1.
 &nbsp;Стороны освобождаются от ответственности за полное или частичное
невыполнение обязательств по настоящему Договору, если это невыполнение
явилось следствием запретительных мер государства, местных органов
власти или обстоятельств непреодолимой силы, к которым относятся
события, на которые Стороны не могут оказать влияние и не несут
ответственности за их возникновение, например: пожар, наводнение,
землетрясение, война, забастовка и т. п.</span></p>

<p class="c18 c9"><span class="c1"></span></p>

<p class="c18"><span class="c0">11. Особые условия</span></p>

<p class="c18"><span class="c1">11.1.&nbsp;В случаях, не предусмотренных настоящим Договором, Стороны руководствуются действующим законодательством Украины.</span>
</p>

<p class="c18"><span class="c1">12. &nbsp;&nbsp;Полнота Договора</span></p>

<p class="c18"><span class="c1">12.1.&nbsp;Все Приложения являются неотъемлемыми частями настоящего Договора.</span>
</p>

<p class="c18 c9"><span class="c1"></span></p>

<p class="c18"><span class="c0">13. Приложения</span></p>

<p class="c10"><span class="c1">13.1. Приложение 1. Состав регистрационной формы</span>
</p>

<p class="c10"><span
class="c1">13.2. Приложение 2. Квитанция доставки заказа</span></p>

<p class="c10"><span class="c1">13.3. Приложение 3. Порядок заполнения квитанции доставки товаров</span>
</p>

<p class="c10"><span
class="c1">13.4. Приложение 4. Формат журнала заказов</span></p>

<p class="c18"><span class="c1">13.5.
 Приложение 5. Best Practice "Требования и рекомендации по оформлению
сайта Интернет-магазина, работающего по технологии 3-D Secure"</span></p>

<p class="c10"><span class="c1">13.6.
 Приложение 6. Заявление Предприятия о присоединении к ПУБЛИЧНОМУ
ДОГОВОРУ о предоставлении услуг Эквайринга в сети Интернет.</span></p>

<p class="c7"><span class="c1"></span></p>

<p class="c7"><span class="c1"></span></p>

<p class="c10"><span class="c1">Председатель Правления</span></p>

<p class="c10"><span class="c1">ПУБЛИЧНОГО АКЦИОНЕРНОГО ОБЩЕСТВА</span></p>

<p class="c18"><span class="c1">КОММЕРЧЕCКОГО БАНКА «ПРИВАТБАНК» &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span
class="c1 c37"> (подпись) </span><span class="c1"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;А.В. Дубилет</span>
</p>

<p class="c18 c9"><span class="c1"></span></p>
