<hr class="featurette-divider">
<footer class="text-center">
  <div class="container">
    <a href="#" class="to-top"></a>
    <div class="copyright">
      <p>
        LifeSaverSoft &copy; <%= Time.now.year %>, All Rights Reserved.
        <%= link_to t('theme.footer.contract_offer'), proposal_path %>
        <span class="visa_master_logo"></span>
      </p>
    </div>
  </div>
</footer>
